spring:
  application:
    name: eventhub

  config:
    import: optional:application-local.yml

  profiles:
    active: dev

server:
  error:
    include-stacktrace: never
    include-exception: false
    include-message: always
    include-binding-errors: never

management:
  endpoints:
    web:
      exposure:
        include: "*"